<!DOCTYPE html>  
<html>  
  <head>
    <title>Webpack example</title>
    <link rel="stylesheet" href="<%- config.siteUrl %>/public/assets/css/styles.css" />
  </head>
  <body>
    <div id="content"><%- content %></div>
    <script type="text/javascript" src="<%- config.siteUrl %>/public/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="<%- config.siteUrl %>/public/bundle.js" charset="utf-8"></script>
  </body>
</html>