<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mocha Tests</title>
</head>
<body>
	<h2 style="margin-left:30px">Application Tests Spec</h2>
    <script type="text/javascript" src="<%- config.siteUrl %>/public/common.js" charset="utf-8"></script>
	<script src="<%- config.siteUrl %>/public/tests.js" charset="utf-8"></script>
</body>
</html>