$general_font_family: Helvetica, Arial
$general_font_color: #272727

ul
	list-style:none;

body
	font-family: $general_font_family
	background: #E97451
	color: $general_font_color
	#content
		background:#f9f9f9
.badge
	background-color:transparent;

.example-page
	margin-top: 15px
	.alert-danger
		margin-bottom:0;
	.top-div
		.form-group
			display: block
			width:200px
		input[type=text]
			padding: 5px
			margin-bottom: 10px

.top-div, .users-list-div
	padding:10px

.sample-page
	padding:10px

.hidden
	display: none

.middle-div
	background:rgb(123, 184, 192)
	.users-list-div
		.names-li
			font-size: 18px
